.centerlize {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.overflow__disable {
  overflow: hidden;
}

.sticky__footer{
  position: sticky;
  bottom: 0;
  width: 100%;
}

.hover__button {
  cursor: pointer;

}

.hover__button:hover {
  background-color: rgb(228, 222, 222);
  color: #646161;
}

.google-map-code {
  width: 600px !important; 
  height: 450px;
}


@media screen and (max-width: 768px) {
  .google-map-code {
    height: 300px;
    width: 100%;
  } 
}

@media screen and (max-width: 375px) {
  .google-map-code {
    height: 200px;
    width: 100%;
  }
}